/*
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝
*/

/* V A R I A B L E S */

:root {
  --ff-font-default: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    system-ui, sans-serif;
  --ff-font-condensed: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, system-ui, sans-serif;
  /* Font Size */
  --fg-primary: 11vmin; /* Time and Greetings */
  --fg-secondary: 3vmin; /* Greetings and Weather widger */
  --fg-ouraStat: 6vmin; /* Oura Widget */
  --fg-ouraStat-secondary: 2vmin;
  --fg-date: 8vmin; /* Date */
  --fg-list: 2vmin; /* Links List */
  --icon: 3vmin; /* Icon Size */
}

html {
  /* Fonts Color */
  --fgColor: #3a3a3a; /* Foreground color */
  --sfgColor: #494949; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #57a0d9; /* Hover color */
  --background: #c4c5cf; /* Background color */
  --cards: #e4e6e6; /* Cards color */

  /* Image background  */
  --imgbg: url(/assets/background.svg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  ); /* Filter color */

  color: var(--fgColor);
}

@media (prefers-color-scheme: dark) {
  html {
    /* Fonts Color */
    --fgColor: #d8dee9; /* Foreground color */
    --sfgColor: #2c292e; /* Secondary Foreground color */

    /* Dark Colors  */
    --accent: #57a0d9; /* Hover color */
    --background: #19171a; /* Background color */
    --cards: #201e21; /* Cards color */

    /* Image background  */
    --imgcol: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ); /* Filter color */
  }
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-family: var(--ff-font-default);
  font-weight: normal;
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  stroke: var(--fgColor);
}
a {
  text-decoration: none;
  color: var(--fgColor);
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover, 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

#app {
  display: contents;
}

.container {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5vmin;
  grid-row-gap: 10vmin;
  padding: 3vmin;
}

.card {
  background-color: var(--cards);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

.card:has(.button):hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.buttonsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3vmin;
  padding: 0 0 3vmin 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4vmin 0;
}

.buttonIcon {
  width: var(--icon);
  height: var(--icon);
}

.button:hover {
  background-color: var(--accent);
}
.button:hover svg {
  stroke: var(--sfgColor);
}

.listsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3vmin;
}

.list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 2vmin 1vmin;
}
.listItem {
  text-decoration: none;
  font-size: var(--fg-list);
  padding: 1.5vmin 2vmin;
  border-radius: 5px;
  text-align: left;
}
.listItem:hover {
  background-color: var(--accent);
  color: var(--sfgColor);
}

/* M E D I A - Q U E R I E S */
@media only screen and (max-width: 68rem) {
  .container {
    grid-gap: 2vmin;
    padding: 4vmin;
  }
}

@media only screen and (max-width: 45rem) {
  body {
    width: 100%;
    height: auto;
  }
  .container {
    width: 100%;
    height: auto;
    padding: 8vmin;
    display: flex;
    flex-direction: column;
    gap: 5vmin;
  }
}
