/*
// ╔╗ ╔═╗╔╗╔╔╦╗╔═╗
// ╠╩╗║╣ ║║║ ║ ║ ║
// ╚═╝╚═╝╝╚╝ ╩ ╚═╝
*/

/* V A R I A B L E S */

:root {
  --ff-font-default: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro,
    system-ui, sans-serif;
  --ff-font-condensed: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, system-ui, sans-serif;
  /* Font Size */
  --fg-primary: 11vmin; /* Time and Greetings */
  --fg-secondary: 3vmin; /* Greetings and Weather widger */
  --fg-ouraStat: 6vmin; /* Oura Widget */
  --fg-ouraStat-secondary: 2vmin;
  --fg-date: 8vmin; /* Date */
  --fg-list: 2vmin; /* Links List */
  --icon: 3vmin; /* Icon Size */
}

html {
  /* Fonts Color */
  --fg: #3a3a3a; /* Foreground color */
  --sfg: #494949; /* Sceondary Foreground color */

  /* Light Colors  */
  --accent: #57a0d9; /* Hover color */
  --background: #c4c5cf; /* Background color */
  --cards: #e4e6e6; /* Cards color */

  /* Image background  */
  --imgbg: url(/assets/background.svg); /* Image URL */
  --imgcol: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  ); /* Filter color */
}

@media (prefers-color-scheme: dark) {
  html {
    /* Fonts Color */
    --fg: #d8dee9; /* Foreground color */
    --sfg: #2c292e; /* Secondary Foreground color */

    /* Dark Colors  */
    --accent: #57a0d9; /* Hover color */
    --background: #19171a; /* Background color */
    --cards: #201e21; /* Cards color */

    /* Image background  */
    --imgcol: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    ); /* Filter color */
  }
}

/* S T Y L E S */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-family: var(--ff-font-default);
  font-weight: normal;
  transition: 0.2s ease-in-out;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.withImageBackground {
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover, 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5vmin;
  grid-row-gap: 10vmin;
  padding: 3vmin;
}

.card {
  background-color: var(--cards);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  color: var(--fg);
}

.card:has(.button):hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
}

.buttonsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3vmin;
  padding: 0 0 5vmin 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6vmin 0;
}

.buttonIcon {
  width: var(--icon);
  height: var(--icon);
  color: var(--fg);
}

.button:hover {
  background-color: var(--accent);
}
.button:hover svg {
  stroke: var(--sfg);
}

.listsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 3rem;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.listIcon {
  margin-bottom: 1vmin;
  color: var(--fg);
  width: var(--icon);
  height: var(--icon);
}
.listItem {
  text-decoration: none;
  font-size: var(--fg-list);
  color: var(--fg);
  margin-top: 1vmin;
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
  width: 80%;
}
.listItem:hover {
  background-color: var(--accent);
  color: var(--sfg);
}

/* M E D I A - Q U E R I E S */

@media only screen and (max-width: 68.75em) {
  .container {
    grid-gap: 20px;
    padding: 40px;
  }

  .timeBlock {
    grid-row: 1 / span 2;
    grid-column: 1 / span 4;
  }

  .weatherBlock {
    display: none;
  }

  .button {
    grid-gap: 3vmin;
    padding-left: 100px;
    padding-right: 100px;
  }
}
