:root {
  --chart-label-color: var(--fgColor);
  --chart-label-size: 0.75rem;
  --chart-grid-color: var(--fgColor);
}

.ct-label {
  fill: var(--chart-label-color);
  color: var(--chart-label-color);
  font-size: var(--chart-label-size);
  line-height: 1;
}

.ct-chart-line .ct-label {
  display: flex;
}

.ct-label.ct-horizontal.ct-start {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-end;
}

.ct-label.ct-horizontal.ct-end {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  transform: translate(-50%, 0.5em);
}

.ct-label.ct-vertical.ct-start {
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  transform: translate(0, 0.5em);
}

.ct-label.ct-vertical.ct-end {
  text-align: left;
  justify-content: flex-start;
  align-items: flex-end;
}

.ct-grid {
  stroke: var(--chart-grid-color);
  stroke-width: 0.5px;
  stroke-dasharray: 4;
  stroke-opacity: 0.3;
}

.ct-grid-background {
  fill: none;
}

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round;
}

.ct-line {
  fill: none;
  stroke-width: 2px;
}

.ct-series:nth-child(1) {
  & .ct-line,
  & .ct-point {
    stroke: #6372dd;
  }
}
.ct-series:nth-child(2) {
  & .ct-line,
  & .ct-point {
    stroke: #3b416c;
  }
}
.ct-series:nth-child(3) {
  & .ct-line,
  & .ct-point {
    stroke: #6f3a3a;
    stroke-dasharray: 4;
  }

  & .ct-area {
    fill: #6f3a3a;
  }
}

.ct-chart-proportion {
  width: 100%;
  display: block;
  position: relative;
}

.ct-chart-proportion:before {
  float: left;
  content: '';
  width: 0;
  height: 0;
  padding-bottom: 50%;
  display: block;
}

.ct-chart-proportion:after {
  content: '';
  clear: both;
  display: table;
}

.ct-chart-proportion > svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
