@font-face {
  font-family: 'Fixed Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir');
}
@font-face {
  font-family: 'Fixed Avenir';
  unicode-range: U+370-FFFF;
  font-style: normal;
  font-weight: 400;
  src: local('Avenir Next Regular');
}
@font-face {
  font-family: 'Fixed Avenir';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir Medium');
}
@font-face {
  font-family: 'Fixed Avenir';
  unicode-range: U+370-FFFF;
  font-style: normal;
  font-weight: 500;
  src: local('Avenir Next Medium');
}
@font-face {
  font-family: 'Fixed Avenir';
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Heavy');
}
@font-face {
  font-family: 'Fixed Avenir';
  unicode-range: U+370-FFFF;
  font-style: normal;
  font-weight: 700;
  src: local('Avenir Next Demi-Bold');
}

:root {
  --ff-default: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans',
    source-sans-pro, sans-serif;
  --ff-default: 'Fixed Avenir', Avenir, Montserrat, Corbel, 'URW Gothic',
    source-sans-pro, system-ui, sans-serif;
  --ff-condensed: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium',
    'Nimbus Sans Narrow', sans-serif-condensed, system-ui, sans-serif;
  /* Font Size */
  --fz-primary: 10vmin;
  --fz-secondary: 8vmin;
  --fz-tertiary: 3vmin;
  --fz-base: 2vmin;
  --fz-top-header-lineHeight: 10vmin;
}

html {
  /* Fonts Color */
  --fg-color: #3a3a3a; /* Foreground color */
  --fg-color--loading: #aeaeae; /* Loading color */
  --fg-color-accent: #494949; /* Secondary Foreground color */

  /* Light Colors  */
  --accent: #57a0d959; /* Hover color */
  --bg-color: #c4c5cf; /* Background color */
  --bg-color-panel: #e4e6e6; /* Cards color */
  --bg-color--loading: #3742510d; /* Loading color */

  /* Image background  */
  --imgbg: url(/assets/background.svg); /* Image URL */
  --imgcol: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

@media (prefers-color-scheme: dark) {
  html {
    /* Fonts Color */
    --fg-color: #d8dee9; /* Foreground color */
    --fg-color--loading: #374251; /* Loading color */

    /* Dark Colors  */
    --accent: #1c9cff26; /* Hover color */
    --bg-color: #19171a; /* Background color */
    --bg-color-panel: #201e21; /* Cards color */
    --bg-color--loading: #37425122; /* Loading color */

    /* Image background  */
    --imgcol: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }
}

body {
  font-family: var(--ff-default);
  font-size: var(--fz-base);
  background-color: var(--bg-color);
  background-image: var(--imgcol), var(--imgbg);
  background-size: cover, 100% auto;
  background-repeat: no-repeat;
  background-position: top center;
  color: var(--fg-color);
}

[hidden]:not([hidden='false']),
[aria-hidden]:not([aria-hidden='false']) {
  display: none;
}

.loading {
  color: var(--fg-color--loading);
}

h1 {
  font-size: var(--fz-primary);
}
h2 {
  font-size: var(--fz-secondary);
}
h3 {
  font-size: var(--fz-tertiary);
}
hgroup {
  display: flex;
  flex-direction: column;
  gap: 1vmin;
}
hgroup p {
  font-size: var(--fz-tertiary);
}

.wrapper {
  width: 90vmin;
  height: 80vmin;
  margin: 10vmin auto;
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-template-rows: 1fr 2fr;
  gap: 8vmin 6vmin;
  grid-template-areas:
    'time weather'
    'oura links';
}

.time {
  grid-area: time;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  h1 {
    line-height: var(--fz-top-header-lineHeight);
    height: var(--fz-top-header-lineHeight);
  }
  p {
    margin-top: 1vmin;
  }
}

.weather {
  grid-area: weather;
}
.oura {
  grid-area: oura;
}
.links {
  grid-area: links;
}

.weather {
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  h2 {
    line-height: var(--fz-top-header-lineHeight);
    height: var(--fz-top-header-lineHeight);
  }
  .forecast {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vmin;
    svg {
      width: 5.5vmin;
      height: 5.5vmin;
      fill: currentColor;
      stroke: none;
    }
    span {
      font-weight: bold;
      text-wrap: nowrap;
      flex-shrink: 0;
      flex-wrap: 0;
    }
  }
}

.chart {
  width: 100%;
  height: 0;
  display: block;
  position: relative;
  padding-bottom: 50%;
  & > svg {
    position: absolute;
    inset: 0;
  }
}
.chart:empty {
  background: var(--bg-color--loading);
  border-radius: 5px;
}

.stats {
  dl {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    text-align: center;
    dt {
    }
    dd {
      font-size: var(--fz-secondary);
      font-weight: 500;
    }
    dt:nth-of-type(1) {
      order: 2;
    }
    dt:nth-of-type(2) {
      order: 4;
    }
    dt:nth-of-type(3) {
      order: 6;
    }
    dd:nth-of-type(1) {
      order: 1;
    }
    dd:nth-of-type(2) {
      order: 3;
    }
    dd:nth-of-type(3) {
      order: 4;
    }
  }
}

.stats {
  h3 {
    visibility: hidden;
    margin-bottom: 2vmin;
    display: flex;
    font-weight: normal;
    &:after,
    &:before {
      content: '';
      flex: 1;
      border-bottom: 0.3vmin solid var(--bg-color-panel);
      transform: translateY(-0.45em);
    }
    &:after {
      margin-left: 1vmin;
    }
    &:before {
      margin-right: 1vmin;
    }
  }
  &.stats__hovered {
    h3 {
      visibility: visible;
    }
  }
}

.links.loading {
  background: var(--bg-color--loading);
  border-radius: 5px;
  nav {
    display: none;
  }
}
.links nav {
  background-color: var(--bg-color-panel);
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
  padding: 1vmin 1vmin;
  menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
  }
  menu a {
    display: block;
    text-decoration: none;
    color: var(--fg-color);
    font-size: var(--fg-list);
    padding: 1.5vmin;
    border-radius: 5px;
    text-align: left;
  }
  menu a:hover,
  menu a:focus-visible {
    background-color: var(--accent);
  }
}

.iconButton {
  position: absolute;
  padding: 1vmin;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.2s ease-in-out;
}
.iconButton:hover {
  transform: scale(1.1);
}
.iconButton:focus-visible {
  background: var(--accent);
}

.iconButton svg {
  width: clamp(20px, 2vmin, 32px);
  height: clamp(20px, 2vmin, 32px);
}

.themeButton {
  fill: var(--fg-color);
  right: 2vmin;
  top: 2vmin;
}
.themeButton svg.system {
  fill: none;
  stroke: var(--fg-color);
  stroke-width: 1.5;
}

.settingsButton {
  stroke-width: 1.5;
  fill: none;
  stroke: var(--fg-color);
  right: 2vmin;
  bottom: 2vmin;
}

html.is-light .themeButton svg.system,
html.is-dark .themeButton svg.system,
html:not(.is-light) .themeButton svg.light,
html:not(.is-dark) .themeButton svg.dark {
  display: none;
}

.settingsDialog {
  position: absolute;
  inset: 0;
  z-index: 100;
  border: none;
  width: 100%;
  height: 100%;
  padding: 5vmin;
  overflow: auto;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: 1.2rem;
}
.settingsDialog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.closeDialogButton {
  position: static;
  stroke: currentColor;
}
.closeDialogButton svg {
  width: 2rem;
  height: 2rem;
  stroke: var(--fg-color);
}
.closeDialogButton:hover {
  background-color: var(--accent);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}
.form-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 2rem;
  max-width: 40rem;
}
.form-label {
  flex: 1 1 30%;
  text-align: right;
  max-width: 15rem;
}
.form-value {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.form-value p {
  font-size: 0.825em;
  opacity: 0.5;
}

.form-item input,
.form-item select {
  background-color: var(--bg-color-panel);
  color: var(--fg-color);
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  flex: 1;
}
.form-item input:focus-within,
.form-item input:focus,
.form-item select:focus-within,
.form-item select:focus {
  background-color: var(--accent);
}
