.iconButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2em;
  height: 2em;
  display: grid;
  place-content: center;
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.iconButton:hover {
  transform: scale(1.1);
}

.iconButton:focus-visible {
  background: var(--accent);
}

.iconButton svg {
  width: 1em;
  height: 1em;
  fill: transparent;
  stroke: currentColor;
}
